
ul.tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    margin-top: 12px;
    background-color: lightgray;
    justify-content: space-between;
    padding:0px;
}
  
 ul.tabs li {
      line-height: 28px;
      padding: 6px 12px;
      position: relative;
      background: none;
      font-size: 14px;
      font-stretch: expanded;
      text-align: center;
      flex-grow: 1;
 } 
 ul.tabs li a {
        white-space: nowrap;
 }
  
 ul.tabs li a:hover {
          text-decoration: underline;
}
  
ul.tabs li.active {
        background-color: #4d94ff;
}
  
ul.tabs li.active a {
          color: white;
        }
      